html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ol-tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  transform: translate(-50%, -100%);
  display: none;
}

.ol-tooltip.is-visible {
  display: block;
}
